.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-smallRadius {
	border-radius: 8px;
}

.button-largeRadius {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

.octopus {
	background-color: peru;
	border-radius: 100%;
}

.blammed {
	border-radius: 10%;
	border: #ff0000;
}

.beans{
	background-color: yellowgreen;
	color: yellow;
	padding: 20px;
	text-align: left;
	text-decoration: none;
	font-size: 8px;
	margin: 4px 2px;
	cursor: pointer;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

#morecontent {
	background-color: yellow;
  }

#hiredbuttons {
	background-color: plum;
}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
   }
   
   .title-large {
	font-size: 2rem;
   }
   
   .title-small {
	font-size: .5rem;
   }

  