table {
	font-family: "Marker Felt", "Comic Sans MS", fantasy;
	color: #003366;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #73dc43;
	text-align: center;
	background-color:#92be4b; 
}

th {
	text-align: center;
	color: #3c73d8;
	background-color: #dbd8ac;
}